/* 구글폰트 */
@import url("https://fonts.googleapis.com/css2?family=Diphylleia&display=swap");
/* task 서서히 나타나게 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


body {
    margin: 0;
    background-image: url("background/dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "fantasy", fantasy;
    color:beige
}

.container{
    background-color: rgb(27, 27, 27);
    box-shadow: rgba(247, 247, 247, 0.35) 0px 5px 15px;
    max-width: 800px;
    border-top: 8px solid blanchedalmond;
    border-bottom: 8px solid blanchedalmond;
    height: 100%;
    min-height: 100vh;
}

.input-area {
    position: relative;

}

.task-list-container {
    border: 1px solid lightgray;
    margin-top: 1em;
    position: relative;
  }
.tab-type{
    display: flex;
    justify-content: space-around;
  }

.tab-type div {
    padding: 1em;
    cursor: pointer;
  }

/* 언더바 꾸미는 패턴 */
#underline {
  position: absolute;
  height: 5px;
  background-color: rgba(0, 47, 255, 0.753);
  padding: 0px;
  transition: 0.7s;
}

.button-box{
    display: flex;
    justify-content: end;
    margin-bottom: 5px;
}

.button-box button{
    border: none;
    border-radius: 5px;
    margin: 0;
    margin-right: 2px;
    background-color: rgb(65, 65, 65);
    transition: 0.5s;
}

.button-box button :active {
    position: relative;
    top: 2px;
  }

.button-box button:first-child:hover {
    background-color: rgba(121, 201, 0, 0.479);
  }
.button-box button:nth-child(2):hover {
    background-color: rgb(255, 0, 0, 0.3);
  }


.task-done{
    text-decoration: line-through rgb(255, 0, 51);
    background-color: rgb(75, 74, 74);
}

.task{
    display: flex;
    position: relative;
    justify-content: space-between;
}


.fa-check {
    color: limegreen;
  }
  
.fa-trash {
    color: red;
  }
.fa-undo-alt {
    color: lightslategray;
  }

.add-button{
    position: absolute;
    background-color:#3b3b3be8;
    color: #fff;
    border:none; 
    border-radius:50px; 
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-bottom: 20px;
  }

  #top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(27, 27, 27);;
  }
  
  .date-container{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .date-container p{ 
    margin: 0;
  }
  
  .day {
    font-size: 3rem;
    font-weight: 800;
  }
  
  .month {
    /* height: 15px; */
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .year{
    color: #666;
  }
  
  .today-weekday{
    font-size: 2rem;
    font-weight: 600;
  }



